<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>Media-Storage-Adapter for bunnyCDN</label>
    <label lang="de">Media-Storage-Adapter für bunnyCDN</label>

    <version>1.0.5</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://github.com/FriendsOfShopware/FroshBunnycdnMediaStorage</link>
    <author>Friends of Shopware</author>

    <description lang="en">Media-Storage-Adapter for bunnyCDN</description>
    <description lang="de">Media-Storage-Adapter für bunnyCDN</description>

    <changelog version="1.0.5">
        <changes lang="de">Unterstützung for BunnyCDNs Manipulation Engine</changes>
        <changes lang="en">Add support for BunnyCDNs Manipulation Engine</changes>
    </changelog>

    <changelog version="1.0.4">
        <changes lang="de">kleine Fehlerbehebungen</changes>
        <changes lang="en">Combat some warnings</changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de">Willkommen bei Frosh</changes>
        <changes lang="en">Welcome to Frosh</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de"><![CDATA[
        - implementiere listContents
        ]]></changes>
        <changes><![CDATA[
        - implement listContents
        ]]></changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de"><![CDATA[
        - implement new cache
        ]]></changes>
        <changes><![CDATA[
        - implement new cache
        ]]></changes>
    </changelog>

    <compatibility minVersion="5.2.0">
        <blacklist>TinectMediaBunnycdn</blacklist>
    </compatibility>

</plugin>
