<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <version>1.0.2</version>
    <author>tinect</author>
    <license>MIT</license>

    <label>TinectMediaBunnycdn</label>

    <description><![CDATA[

<p>BunnyCDN-Extension for Media Adapter</p>

config.php:
<pre>'cdn' =>
        [
            'backend' => 'bunnycdn',
            'adapters' => [
                'bunnycdn' =>
                    array (
                        'type' => 'bunnycdn',
                        'mediaUrl' => 'https://example.b-cdn.net/',
                        'apiUrl' => 'https://storage.bunnycdn.com/example/',
                        'apiKey' => 'secret-api-key'
                    )
        ]</pre><br>
dont't forget running "bin/console sw:media:migrate --from=local --to=bunnycdn" if you have existing media.<br>
More Info: https://developers.shopware.com/developers-guide/shopware-5-media-service/#file-system-adapters
        ]]></description>


    <changelog version="1.0.2">
        <changes><![CDATA[
        - implement listContents
        ]]></changes>
    </changelog>

    <changelog version="1.0.1">
        <changes><![CDATA[
        - implement new cache
        ]]></changes>
    </changelog>

    <compatibility minVersion="5.2.0"/>

</plugin>
