<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="boolean">
            <name>ManipulationEngine</name>
            <label>activate Manipulation Engine</label>
            <label lang="de">aktiviere Manipulation Engine</label>
            <value>false</value>
            <description>Use variable widths and heights to work with Manipulation Engine from bunnyCDN. This engine has to be enabled in bunnyCDN-Dashboard.
                Clear all caches after changing this option.
                ATTENTION: when disabling, you would have to generate the thumbnail on your own.</description>

        </element>

    </elements>
</config>


